@model Prueba_Tecnica.Models.UserModel
@{
    ViewData["Title"] = "Menu";
    String name= Model.Name.ToString();
}
<div align="center">
    <h1 class="loginHeader">Bienvenido Sr.@name</h1>
</div>
